@charset "utf-8";

div.tech-list > div {
    overflow: hidden;
    margin: 10px 0;
}

div.tech-list > div > div:nth-child(1) {
    background: var(--box-color);
    color: var(--color);
    padding: 5px 20px;
    margin: 5px;
    border-radius: 9999px;
    width: 100px;
    float: left;
    text-align: center;
}

div.tech-list a {
    margin: 0 5px;
    color: var(--color);
}

div.tech-list img {
    height: 2em;
    vertical-align: middle;
    margin-right: 2.5px;
}

div.projects-list div {
    overflow: hidden;
}

a.projects {
    color: var(--color);
    text-decoration: none;
    float: left;
    margin: 5px;
}

div.projects {
    border: 2px solid var(--box-color);
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    position: relative;
}

div.projects > div:nth-child(1) > img {
    width: 1.5em;
    border-radius: 9999px;
    vertical-align: middle;
    margin-right: 5px;
}

div.projects > div:nth-child(3) > div {
    width: 1em;
    height: 1em;
    border-radius: 9999px;
    float: left;
    margin-right: 5px;
}

div.projects > div:nth-child(3) > span {
    margin-right: 10px;
}

div.projects > div:nth-child(3) > i {
    margin-right: 5px;
}

div.projects > i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 1.5em;
}

@media screen and (max-width: 500px) {
    div.tech-list > div > div:nth-child(1) {
        float: none;
    }
}

@media screen and (max-width: 400px) {
    div.projects {
        width: 200px;
    }
}
